:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: #fff;
    display: grid;
    height: 100vh;
    gap: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.5fr 0.5fr 0.3fr;
    grid-template-areas: 
    "nav menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "footer footer footer footer"
    ;

    text-align: center;
    text-transform: uppercase;
}

nav {
    align-items: center;
    display: grid;
    background-color: black;
    grid-area: nav;
    padding: var(--my-padding);
}

.menu {
    align-items: center;
    display: grid;
    background-color: rgba(255, 0, 0, 0.801);
    grid-area: menu;
    padding: var(--my-padding);
}

.hero {
    align-items: center;
    display: grid;
    background-color: rgb(116, 146, 163);
    grid-area: hero;
    padding: var(--my-padding);
}


.image {
    align-items: center;
    display: grid;
    background-color: rgba(128, 128, 128, 0.541);
    grid-area: image;
    padding: var(--my-padding);
}

.extra {
    align-items: center;
    display: grid;
    background-color: rgb(42, 134, 42);
    grid-area: extra;
    padding: var(--my-padding);
}

main {
    align-items: center;
    display: grid;
    background-color: rgb(141, 17, 17);
    grid-area: main;
    padding: var(--my-padding);
}


footer {
    align-items: center;
    display: grid;
    background-color: rgb(165, 107, 0);
    grid-area: footer;
    padding: var(--my-padding);
}

@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.25fr 2fr 2.5fr 1fr 1fr;
        grid-template-areas: 
        "nav nav nav nav"
        "hero hero hero hero"
        "menu main main main"
        "menu footer footer footer"
        "menu extra extra image"
        ;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.55fr 0.75fr 1.2fr 1.5fr 1fr 1fr 1.2fr;
        grid-template-areas: 
        "nav"
        "menu"
        "hero"
        "main"
        "footer"
        "extra"
        "image"
        ;
    }
}
